body {
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    margin: 2em;
    color: #eeeeee;
    background-color: #222222;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  
  co.Cpro {
    /*font-style: */
    color: #f75050;
  }
  
  co.Cele {
    color: #eeee00;
  }
  co.Cnuv {
    color: #8883ee;
  }
  co.Cnun {
    color: #44aaee
  }
  
  
  button.Bene {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 24px;
    color: #111111;
    background-color: #44dd44;
  }
  button.Bene:hover {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 24px;
    color: #111111;
    background-color: #66ff66;
    cursor: pointer;
  }
  
  button.Bpro {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #dd4444;
  }
  button.Bpro:hover {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #ff6666;
    cursor: pointer;
  }
  
  button.Bele {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #cccc00;
  }
  button.Bele:hover {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #ffff00;
    cursor: pointer;
  }
  
  button.Bnuv {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #aaaaee;
  }
  button.Bnuv:hover {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #ccccff;
    cursor: pointer;
  }
  
  button.Bnun {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #66bbee;
  }
  button.Bnun:hover {
    border: none;
    border-radius: 32px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #111111;
    background-color: #99ddff;
    cursor: pointer;
  }

  button.Bprestige1 {
    border: none;
    border-radius: 16px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #ee7777;
    background-color: #000000;
  }
  button.Bprestige1:hover {
    border: none;
    border-radius: 16px;
    padding: 4px 32px;
    margin: 4px 4px;
    font-size: 20px;
    color: #ffbbbb;
    background-color: #552200;
    cursor: pointer;
  }


  button.UCannotAfford {
    border: 4px solid #aaaaaa;
    padding: 8px 12px;
    margin: -4px -4px;
    color: #ffffff;
    font-size: 12px;
    background-color: #661a22;
    width: 254px;
    height: 146px;
  }
  button.UCannotAfford:hover {
    background-color: #771c22;
    cursor: pointer;
  }

  button.UCanAfford {
    border: 4px solid #aaaaaa;
    padding: 8px 12px;
    margin: -4px -4px;
    color: #ffffff;
    font-size: 12px;
    background-color: #22661a;
    width: 254px;
    height: 146px;
  }
  button.UCanAfford:hover {
    background-color: #299922;
    cursor: pointer;
  }

  button.UMaxed {
    border: 4px solid #aaaaaa;
    padding: 8px 12px;
    margin: -4px -4px;
    color: #ffffff;
    font-size: 12px;
    background-color: #222888;
    width: 254px;
    height: 146px;
  }
  button.UMaxed:hover {
    background-color: #333999;
    cursor: pointer;
  }


  tables.upgradeTable1 {
    display: grid;
    grid-template-columns: repeat(4, 246px);
    grid-auto-columns: 246px;
    grid-column-gap: 4px;
    grid-auto-rows: 138px;
    grid-row-gap: 4px;
  }

  .ruSlot {
    display: grid;
    grid-template-columns: 125px 125px;
    grid-auto-columns: 125px;
    grid-auto-rows: 108px 34px;
    border: 4px solid #aaaaaa;
    margin: -4px -4px;
    color: #000000;
    font-size: 14px;
    background-color: #cccc99;
  }

  .ruSlotText {
    text-align: center;
    font-size: 12px;
    padding: 6px 8px;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  button.ruBuy1CannotAfford {
    border: 4px solid #999999;
    margin: -4px -4px;
    padding: 4px 8px;
    position: relative;
    width: 125px;
    height: 34px;
    left: 4px;
    grid-column: 1;
    grid-row: 2;
    color: #ffffff;
    background-color: #661a22;
  }
  button.ruBuy1CannotAfford:hover {
    background-color: #771c22;
    cursor: pointer;
  }

  button.ruBuy1CanAfford {
    border: 4px solid #999999;
    margin: -4px -4px;
    padding: 4px 8px;
    position: relative;
    width: 125px;
    height: 34px;
    left: 4px;
    grid-column: 1;
    grid-row: 2;
    color: #ffffff;
    background-color: #22661a;
  }
  button.ruBuy1CanAfford:hover {
    background-color: #299922;
    cursor: pointer;
  }

  button.ruBuyMaxCannotAfford {
    border: 4px solid #999999;
    margin: -4px -4px;
    padding: 4px 8px;
    position: relative;
    width: 125px;
    height: 34px;
    grid-column: 2;
    grid-row: 2;
    color: #ffffff;
    background-color: #661a22;
  }
  button.ruBuyMaxCannotAfford:hover {
    background-color: #771c22;
    cursor: pointer;
  }

  button.ruBuyMaxCanAfford {
    border: 4px solid #999999;
    margin: -4px -4px;
    padding: 4px 8px;
    position: relative;
    width: 125px;
    height: 34px;
    grid-column: 2;
    grid-row: 2;
    color: #ffffff;
    background-color: #22661a;
  }
  button.ruBuyMaxCanAfford:hover {
    background-color: #299922;
    cursor: pointer;
  }
  
  
  
  .Btab1 {
    border: 4px solid #444444;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #dddddd;
  }
  .Btab1:hover {
    border: 4px solid #007700;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .Btab2 {
    border: 4px solid #ee4444;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #dd6666;
  }
  .Btab2:hover {
    border: 4px solid #ff2222;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #dd8888;
    cursor: pointer;
  }
  
  .Btab3 {
    border: 4px solid #ee7744;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #dd8866;
  }
  .Btab3:hover {
    border: 4px solid #ff8822;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #ee9944;
    cursor: pointer;
  }
  
  .Btab4 {
    border: 4px solid #eebb44;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #ddaa66;
  }
  .Btab4:hover {
    border: 4px solid #ff9922;
    padding: 8px 20px;
    margin: 0px -2px;
    font-size: 20px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #eebb44;
    cursor: pointer;
  }

  
  
  
  .mBtab1 {
    border: 4px solid #444444;
    padding: 4px 12px;
    margin: 0px -2px;
    font-size: 16px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #dddddd;
  }
  .mBtab1:hover {
    border: 4px solid #007700;
    padding: 4px 12px;
    margin: 0px -2px;
    font-size: 16px;
    font-weight: bold;
    transform: skew(-10deg);
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }


  
  
  
  
  tables.achievementTable {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-auto-columns: 100px;
    grid-auto-rows: 100px;
  }
  .achF {
    background-color: #777777;
    border: 4px solid #aaaaaa;
    padding: 8px 8px;
    margin: -4px -4px;
    text-align: center;
    position: relative;
    display: inline-block;
  }
  .achT {
    background-color: #227722;
    border: 4px solid #aaaaaa;
    padding: 8px 8px;
    margin: -4px -4px;
    text-align: center;
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -69px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 4px 4px;
    border: 4px solid #aaaaaa;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .achF:hover .tooltip {
    visibility: visible;
  }
  .achT:hover .tooltip {
    visibility: visible;
  }


  tables.HydrogenTable {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
  }
  .AreaH1 {
    background-color: #88cc88;
    border: 4px solid #aaaa33;
    padding: 8px 12px;
    margin: -4px -4px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #000000;
  }
  .AreaH2 {
    background-color: #77cc77;
    border: 4px solid #aaaa33;
    padding: 8px 12px;
    margin: -4px -4px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #000000;
  }
